form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
  }
label {
    display: block;
    margin: 30px auto;
  }
span {
    display: block;
    margin-bottom: 6px;
    color: whitesmoke;
  }
input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
  }

  h2 {
      color: whitesmoke;
  }

  .btn-signin {
    color: black;
    background-color: azure;
  }

  .btn-signin:hover {
      color: azure;
      background-color: rgb(0, 0, 0);
  }

  .signup-title {
      color: white;
  }

span {
    color: white;
    
}